.mainCustomersBlock{
    background-color: #f8f9fa!important;
    padding: 3mm 3mm;
    margin: 3mm 20mm;
}
.childCustomersBlock{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.customer{
    /* padding: 5px;
    font-weight: bold; */
    background: white;
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: -2px;
}

.head{
    background: #7d7ded;
    width: 100%;
    height: 35px;
}
.body-content{
    width: 100%;
    background: white;
    height: 150px;
}