<!-- <p>header works!</p> -->
<div class="hero_area">
    <div class="hero_bg_box">
        <!-- <img src="../../../../assets/images/hero-bg.jpg" alt=""> -->
    </div>
    <!-- header section strats -->
    <header class="header_section">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
                    <span>
                        Eatveg
                    </span>
                </a>
                <div class="" id="">
                    <div class="container">
                        <div class=" mr-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav justify-content-between ">
                                <div class="User_option">
                                    <li class="">
                                        <a class="" href="">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <form class="form-inline ">
                                        <button class="btn   nav_search-btn" type="submit">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div class="custom_menu-btn">
                        <button (click)="openNav()">
                            <span class="s-1"> </span>
                            <span class="s-2"> </span>
                            <span class="s-3"> </span>
                        </button>
                    </div>
                    <div id="myNav" class="overlay">
                        <div class="overlay-content">
                            <a href="index.html">HOME</a>
                            <a href="about.html">ABOUT</a>
                            <a href="vegetables.html">VEGETABLES</a>
                            <a href="contact.html">CONTACT US</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->

    <section class="slider_section ">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let img of [1,2,3,4,5,6]; let i = index;" class="carousel-item {{(i===0)?'active':''}}">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h5>
                                        01
                                    </h5>
                                    <h1>
                                        Fresh <br />
                                        Vegetables {{img}}
                                    </h1>
                                    <a [routerLink]="" class="">
                                        buy Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="carousel-item ">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="detail-box">
                                    <h5>
                                        02
                                    </h5>
                                    <h1>
                                        Fresh <br />
                                        Vegetables
                                    </h1>
                                    <a [routerLink]="" class="">
                                        buy Now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" *ngFor="let img of [1,2,3,4,5,6]; let i = index;"
                    data-slide-to="{{i+1}}" class="active"></li>
                <!-- <li data-target="#customCarousel1" data-slide-to="1"></li> -->
            </ol>
        </div>
    </section>
    <!-- end slider section -->
</div>