.container-new{
    height: 100%;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.loginBlcok{
 margin: 15% 15%;
 background-color: #f3f4f7;
 /* border: 1px solid black; */
 box-shadow: coral 1;
 border-radius: 3px;
 display: flex;
flex-direction: column;
 justify-content: center;
 align-items: center;
 box-shadow: 10px 10px 10px #d9dce2;
width: 30rem;
}

.labelInputStyling{
      padding: 10px;
      /* display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; */
      
}
.lables{
    /* display: flex; */
    width: 7rem;

}

.loginHead{
    /* justify-content: "center"; */
    /* align-items: "center/"; */
    text-align: center;
    padding: 1.5rem;
}
.loginbtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
 
}

@media only screen and (max-width:480px) {
    .loginBlcok{
        margin: 2%;
    
    }

    
}